/vendor/
/phpstan/
/.idea/
/.cache/

composer.phar
.phpunit.result.cache
.php-cs-fixer.cache
*~
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
